/* .todo-title {
    width: 400px;
    margin: 20px auto;
} */
/* .todo-detail {
    margin-top: 60px;
} */
.todo-detail img {
    height: 80px;
    margin: 15px 0;
}
.todo {
    transition: all 0.2s ease;
}
.todo:hover {
    border-radius: 70px 5px;
    background-color: #fff;
    cursor: pointer;
}
.todo-wrapper {
    background-color: #fafafa;
    background-image: url("/src/images/Illustration/Path\ 74.png");
    background-size: cover;
    background-position: center;
}